@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes progressAnimation {
      from {
        width: 0%;
      }
      to {
        width: var(--tw-progress-width);
      }
    }
  
    .animate-progress {
      animation: progressAnimation 2s ease-out forwards;
    }
    .progress-bar {
        width: 0;
      }
  }